<div class="chat-layout">
  <!-- Sidebar con toggle --> 
   
  <aside class="sidebar" [class.active]="showSidebar">
   

    <!-- Lista de chats Panel lateral izquierdo -->
    <app-chat-list > </app-chat-list>
  </aside>

  <!-- Main content -->
  <main class="main-content">
  <!--Panel lateral derecho -->

  
    <!-- Header con botón menú (solo móvil) -->
    <header class="main-header">
      <button class="btn-menu" (click)="toggleSidebar()"> ⬅️  </button>
      <h2>{{ currentChatName }}</h2>
    </header>

    <!-- Contenido del router -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    
  </main>

  <!-- Overlay oscuro (solo móvil) -->
  @if (showSidebar) {
    <div class="overlay" (click)="closeSidebar()"></div>

  }
  
</div>