<div class="chat-list-container">
  <div class="header">
    <h1>Chats</h1>

    <button class="btn-nuevo-chat" 
            aria-label="Crear nuevo chat"
             title="Crear nuevo chat"
            [routerLink]="['/nuevo']"
            >
            + 
    </button>
  </div>

  <div class="search-container">
    <label for="nombre"></label>
    <input
      id ="nombre"
      type="text"
      class="search-input"
      placeholder="Buscar chat..."
      (input)="updateSearch($any($event.target).value)"
      [value]="searchTerm()"
    />
  </div>

  <div class="chats-list">
    @for (chat of filteredChats(); track chat.id) {
      <div class="chat-item"
           [routerLink]="['/chats', chat.id]"
            routerLinkActive="active-chat">

        <img [src]="chat.avatar" [alt]="chat.nombre" title="avatar" class="avatar" />

        <div class="chat-info">
          <div class="chat-header">
            <h3 class="chat-nombre">{{ chat.nombre }}</h3>
            <span class="chat-tiempo">{{ chat.ultimaActividad | formatoFecha }}</span>
          </div>

          <div class="chat-footer">
            <p class="chat-mensaje">{{ chat.ultimoMensaje || 'Sin mensajes' }}</p>
            <span [class]="'estado ' + getEstadoClass(chat.estado)">
              {{ chat.estado }}
            </span>
          </div>
        </div>
      </div>
    }

    @if (filteredChats().length === 0) {
      <div class="no-chats">
        <p>No se encontraron chats</p>
      </div>
    }
  </div>
</div>
